body{
    background: linear-gradient(to right,#494949,#a3a3a3 ) !important;
}
h2{
    margin-top: 30px;
    text-align: center;
}
.container{
    width: 50%;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    linear-gradient: 
}
.btn.btn-danger{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgb(77, 77, 77);
}